<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="template-admin.html">
<head>
    <meta charset="UTF-8">
    <title>Ajouter une Classe</title>
</head>
<body>
<div layout:fragment="content">
    <div class="page-wrapper">
        <div class="content container-fluid">
            <div class="page-header">
                <div class="row align-items-center">
                    <div class="col-sm-12">
                        <div class="page-sub-header">
                            <h3 class="page-title">Ajouter une Classe</h3>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="#">Classe</a>
                                </li>
                                <li class="breadcrumb-item active">Ajouter une Classe</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="card comman-shadow">
                        <div class="card-body">
                            <form th:action="@{/admin/saveClass}" method="post">
                                <div class="row">
                                    <div class="col-12">
                                        <h5 class="form-title student-info">
                                            Information de la classe
                                            <span
                                            ><a href="javascript:;"
                                            ><i class="feather-more-vertical"></i></a
                                            ></span>
                                        </h5>
                                    </div>
                                    <div class="col-12 col-sm-4">
                                        <div class="form-group">
                                            <label for="nom">Nom<span class="login-danger">*</span></label>
                                            <input
                                                    id="nom"
                                                    name="nom"
                                                    class="form-control"
                                                    type="text"
                                                    placeholder="Enter Class Name"
                                            />
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="student-submit">
                                            <button type="submit" class="btn btn-primary">
                                                Ajouter
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>>