<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="dashboard-enseignant.html">
<head>
    <meta charset="UTF-8">
    <title>ENSEIGNANT</title>
</head>
<body>
<div layout:fragment="content">
    <div class="page-wrapper">
        <div class="content container-fluid">

            <div class="page-header">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="page-sub-header">
                            <h3 class="page-title">LISTE DES ETUDIANTS </h3>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Accueil</a></li>
                                <li class="breadcrumb-item active">ETUDIANTS</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-sm-12">
                    <div class="card card-table comman-shadow">
                        <div class="card-body">
                                    <table
                                            class="table border-0 star-student table-hover table-center mb-0 table-striped"
                                    >
                                        <thead class="student-thread">
                                        <tr>
                                            <th>Id</th>
                                            <th>Nom</th>
                                            <th>Prenom</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="in:${inscription}">
                                            <td th:text="${in.etudiant.id}"></td>
                                            <td th:text="${in.etudiant.nom}"></td>
                                            <td th:text="${in.etudiant.prenom}"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>