<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="dashboard-etudiant.html">
<head>
    <meta charset="UTF-8">
    <title>ETUDIANT</title>
</head>
<body>
<div layout:fragment="content">
    <div class="page-wrapper">
        <div class="content container-fluid">

            <div class="page-header">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="page-sub-header">
                            <h3 class="page-title">Bienvenue ETUDIANT! <span th:text="${etudiant.nom}"></span></h3>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Accueil</a></li>
                                <li class="breadcrumb-item active">ETUDIANT</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-xl-3 col-sm-6 col-12 d-flex">
                    <div class="card bg-comman w-100">
                        <div class="card-body">
                            <div class="db-widgets d-flex justify-content-between align-items-center">
                                <div class="db-info">
                                    <h6 th:each="i:${etudiant.inscr}" th:text="${i.classe.nom}"></h6>
                                </div>
                                <div class="db-icon">
                                    <h6>Classe</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="col-xl-3 col-sm-6 col-12 d-flex">
                    <div class="card bg-comman w-100">
                        <div class="card-body">
                            <div class="db-widgets d-flex justify-content-between align-items-center">
                                <div class="db-info">
                                    <h6 th:each="i:${etudiant.inscr}" th:text="${i.niveau.nom}"></h6>
                                </div>
                                <div class="db-icon">
                                    <h6>Niveau</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-sm-6 col-12 d-flex">
                    <div class="card bg-comman w-100">
                        <div class="card-body">
                            <div class="db-widgets d-flex justify-content-between align-items-center">
                                <div class="db-info">
                                    <h6 th:each="i:${etudiant.inscr}" th:text="${i.anneeAcademique.description}"></h6>
                                </div>
                                <div class="db-icon">
                                    <h6>Annee academique</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-12 d-flex">
                    <div class="card bg-comman w-100">
                        <div class="card-body">
                            <div class="db-widgets d-flex justify-content-between align-items-center">
                                <div class="db-info">
                                    <li><a th:each="i:${etudiant.inscr}" th:href="@{/etudiant/voirCours(niveau=${i.niveau.id})}">Cours</a></li>
                                </div>
                                <div class="db-icon">
                                    <h6>Consulter ses cours</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>