<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="template-admin.html">
<head>
    <meta charset="UTF-8">
    <title>ADMIN</title>
</head>
<body>

<div layout:fragment="content">
    <div class="page-wrapper">
        <div class="content container-fluid">

            <div class="page-header">
                <div class="row align-items-center">
                    <div class="col">
                        <h3 class="page-title">Creation de compte utilisateur</h3>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Compte</a></li>
                            <li class="breadcrumb-item active">Creer un compte</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            <form th:action="@{/admin/saveAccount}" method="post">
                                <div class="row">
                                    <div class="col-12">
                                        <h5 class="form-title"><span>Details de compte</span></h5>
                                    </div>
                                    <div class="col-12 col-sm-4">
                                        <div class="form-group local-forms">
                                            <label>Nom d'utilisateur <span class="login-danger">*</span></label>
                                            <input name="username" type="text" class="form-control" th:value="${newUser.username}">
                                            <span class="text-danger" th:errors="${newUser.username}"></span>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-4">
                                        <div class="form-group local-forms">
                                            <label>Mot de passe <span class="login-danger">*</span></label>
                                            <input name="password" type="password" class="form-control" th:value="${newUser.password}">
                                            <span class="text-danger" th:errors="${newUser.password}"></span>
                                        </div>
                                    </div>

                                    <div class="col-12 col-sm-4">
                                        <div class="form-group local-forms">
                                            <label>Email<span class="login-danger">*</span></label>
                                            <input name="email" type="email" class="form-control" th:value="${newUser.email}">
                                            <span class="text-danger" th:errors="${newUser.email}"></span>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <div class="student-submit">
                                            <button type="submit" class="btn btn-primary">Ajouter</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
