<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="template-admin.html">
<head>
    <meta charset="UTF-8">
    <title>ADMIN</title>
</head>
<body>

<div layout:fragment="content">
    <div class="page-wrapper">
        <div class="content container-fluid">

            <div class="page-header">
                <div class="row align-items-center">
                    <div class="col">
                        <h3 class="page-title">Modifier un niveau</h3>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Niveau</a></li>
                            <li class="breadcrumb-item active">Modifier un niveau</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            <form th:action="@{/admin/saveLevel}" method="post">
                                <div class="row">
                                    <div class="col-12">
                                        <h5 class="form-title"><span>Details du niveau</span></h5>
                                    </div>
                                    <div class="col-12 col-sm-4">
                                        <div class="form-group local-forms">
                                            <label for="id" class="form-label fw-bold fs-4">Id-<span th:text="${niveau.id}" class="fw-bold fs-4"></span></label>
                                            <input type="hidden" name="id" id="id" class="form-control" th:value="${niveau.id}">
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-4">
                                        <div class="form-group local-forms">
                                            <label>Description <span class="login-danger">*</span></label>
                                            <input name="nom" type="text" class="form-control" th:value="${niveau.nom}">
                                            <span class="text-danger" th:errors="${niveau.nom}"></span>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-4">
                                        <div class="form-group local-forms">
                                            <select class="form-control select" name="filiere" required>
                                                <option value="" disabled selected>Selectionner une filiere</option>
                                                <option th:each="g:${filieres}" th:value="${g.id}" th:text="${g.description}"></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="student-submit">
                                            <button type="submit" class="btn btn-primary">Modifier</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>