<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template-admin.html">
<head>
    <meta charset="UTF-8">
    <title>Liste des UTILISATEURS</title>
</head>
<body>
<div layout:fragment="content">
    <div class="page-wrapper">
        <div class="content container-fluid">
            <div class="page-header">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="page-sub-header">
                            <h3 class="page-title">UTILISATEURS</h3>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="#">UTILISATEURS</a>
                                </li>
                                <li class="breadcrumb-item active">UTILISATEURS</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-sm-12">
                    <div class="card card-table comman-shadow">
                        <div class="card-body">

                                <!--<div class="student-group-form">
                                    <form th:action="@{/admin/searchFiliere}" method="get">
                                        <div class="row">
                                            <div class="col-lg-3 col-md-6">
                                                <div class="form-group">
                                                    <select class="form-control select" name="filiere" required>
                                                        <option value="" disabled selected>Selectionner une filiere</option>
                                                        <option th:each="g:${filieres}" th:value="${g.id}" th:text="${g.description}"></option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-2">
                                                <div class="search-student-btn">
                                                    <button type="submit" class="btn btn-primary">Rechercher</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>-->
                            </div>
                            <div>
                                <table
                                        class="table border-0 star-student table-hover table-center mb-0 table-striped"
                                >
                                    <thead class="student-thread">
                                    <tr>
                                        <th>Nom d'utilisateurs</th>
                                        <th>Email</th>
                                        <th>Role</th>
                                       <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="e:${users}">
                                        <td th:text="${e.username}"></td>
                                        <td th:text="${e.email}"></td>
                                        <td>
                                        <span th:each="p:${e.roles}" th:text="${p.role}" th:if="${e.roles.size()==1}"></span>
                                            <span th:each="p:${e.roles}" th:if="${e.roles.size()!=1}" th:text="${p.role} + ', '"></span>
                                        </td>
                                        <td>
                                            <a th:href="@{/admin/addRole(id=${e.userId})}" class="btn btn-outline-info">Ajouter un role</a>
                                        </td>
                                            <!--
                                           <td>
                                                <a th:href="@{/admin/editUser(id=${e.userId})}" class="btn btn-outline-info"><i class="bi bi-pencil-square"></i></a>

                                                <a href="#" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#confirmationModal">
                                                    <i class="bi bi-trash"></i>
                                                </a>

                                                <div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="confirmationModalLabel">Confirmation</h5>
                                                                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                Êtes-vous sûr de vouloir supprimer cet Niveau ?
                                                            </div>
                                                            <div class="modal-footer">
                                                                &lt;!&ndash;&ndash;&gt;
                                                                <a th:href="@{/admin/deleteUser(id=${e.roles})}" class="btn btn-outline-warning">Supprimer</a>
                                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>-->
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>