<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template-admin.html">
<head>
  <meta charset="UTF-8">
  <title>Liste Inscriptions</title>
</head>
<body>
<div layout:fragment="content">
  <div class="page-wrapper">
    <div class="content container-fluid">
      <div class="page-header">
        <div class="row">
          <div class="col-sm-12">
            <div class="page-sub-header">
              <h3 class="page-title">Etudiant</h3>
              <ul class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="#">Student</a>
                </li>
                <li class="breadcrumb-item active">Etudiants</li>
              </ul>
            </div>
          </div>
        </div>
      </div>


      <div class="student-group-form">
        <form>
          <div class="row">
            <div class="col-lg-3 col-md-6">
              <div class="form-group">
                <input
                        type="text"
                        class="form-control"
                        placeholder="Rechercher par numero matricule ..."
                />
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="form-group">
                <input
                        type="text"
                        class="form-control"
                        placeholder="Rechercher par nom ..."
                />
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="form-group">
                <input
                        type="text"
                        class="form-control"
                        placeholder="Rechercher par Anne academique ..."
                />
              </div>
            </div>
            <div class="col-lg-2">
              <div class="search-student-btn">
                <button type="button" class="btn btn-primary">Rechercher</button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="card card-table comman-shadow">
            <div class="card-body">
              <div>
                <table
                        class="table border-0 star-student table-hover table-center mb-0 table-striped"
                >
                  <thead class="student-thread">
                  <tr>
                    <th>Numero de matricule</th>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Sexe</th>
                    <th>Date de l'inscription</th>
                    <th>Anne academique</th>
                    <th>Niveau</th>
                    <th>Classe</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr th:each="e:${etudiants}">
                    <td th:text="${e.numeroMatricule}"></td>
                    <td th:text="${e.nom}"></td>
                    <td th:text="${e.prenom}"></td>
                    <td th:text="${e.genre}"></td>
                    <td th:each="i:${e.inscr}" th:text="${i.dateInscription}"></td>
                    <td th:each="i:${e.inscr}" th:text="${i.anneeAcademique.description}"></td>
                    <td th:each="i:${e.inscr}" th:text="${i.niveau.nom}"></td>
                    <td th:each="i:${e.inscr}" th:text="${i.classe.nom}"></td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>