<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template-admin.html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Liste Classe</title>
</head>
<body>
<div layout:fragment="content">
    <div class="page-wrapper">
        <div class="content container-fluid">
            <div class="page-header">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="page-sub-header">
                            <h3 class="page-title">Classe</h3>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="#">Classe</a>
                                </li>
                                <li class="breadcrumb-item active">Classes</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-sm-12">
                    <div class="card card-table comman-shadow">
                        <div class="card-body">
                            <div
                                    class="col-auto text-end float-end ms-auto download-grp"
                            >
                                <a th:href="@{/admin/addClass}" class="btn btn-primary"
                                ><i class="fas fa-plus"></i
                                ></a>
                            </div>
                            <div>
                                <table
                                        class="table border-0 star-student table-hover table-center mb-0 table-striped"
                                >
                                    <thead class="student-thread">
                                    <tr>
                                        <th>Id</th>
                                        <th>Nom</th>
                                        <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="c:${classes}">
                                        <td th:text="${c.id}"></td>
                                        <td th:text="${c.nom}"></td>
                                        <td>
                                            <a th:href="@{/admin/editClass(id=${c.id})}" class="btn btn-outline-info"><i class="bi bi-pencil-square"></i></a>
                                            <a th:href="@{/admin/deleteClass(id=${c.id})}" class="btn btn-outline-danger"><i class="bi bi-trash"></i></a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>